## import libraries we use

In [1]:
import numpy as np
import math
import matplotlib.pyplot as plt
import pandas as pd

### define BBS class

In [2]:
class Bbs:
    ml = 37#length of box align 
    def __init__(self,array, ml = 37): #"array" represents configuration of balls.
        self.boxlength = ml
        self.box = np.array(array,dtype=int)
        self.carrier = []
        self.energy = 0
        if (len(self.box) < ml): # fill array with empty boxes ubtil its length beccome ml.
            self.box = np.concatenate([self.box,(np.ones(ml - int(len(self.box)),dtype=int))]) 
            
    # Time evolution defined by T = K2K3...Kl+1
    def time_evolve_inf(self, l = 1000):#"l" must be larger than the numbers of ball colors.
        for i in range(l+1,1,-1): #i:l+1 to 2
            count = sum(self.box  == i) # count the number of i-color balls.
            p = 0 
            while count > 0:
                #print(i,count,self.box[p] == i)
                if int(self.box[p]) == i:
                    q = p + 1
                    self.box[p] = 1
                    while q < self.ml+2:
                    
                        if int(self.box[q]) == 1:
                            self.box[q] = -i
                            count -= 1
                            break
                        else:
                            q += 1
                    
                else:
                    p += 1
                    
        self.box = np.abs(self.box)
        
        return self

    # time evolution Tl based on carrier and conbitional R
    def time_evolve(self, l, verbose = True, calc_energy = False):
        self.carrier = [1]*l # declare carrier
        
        if calc_energy == True:
            energy_star = 0
            
        for i in range(len(self.box)):
            self.carrier.sort()
            
            if calc_energy == True:
                if self.box[i] <= self.carrier[0]:
                    energy_star += 1
                
                    
            
            if (self.box[i] > self.carrier[0]):                
                p = len(self.carrier) - 1
                
                while self.carrier[p] >= self.box[i]:
                    p -= 1
                #print(p,self.carrier[p],self.box[i])
                #print("car" + str(self.carrier))
                
                temp = self.box[i]
                self.box[i] = self.carrier[p]
                self.carrier[p] = temp
                
            else:
                temp = self.box[i]
                self.box[i] = self.carrier[l-1]
                self.carrier[l-1] = temp
                
            if verbose == True:
                    print("-" * 50)
                    print("carrier position:" + str(i+1))
                    print("box:" + str(self.box))
                    print("carrier:" + str(self.carrier))
        print("-" * 50)
        
        if calc_energy == True:
            self.energy = len(self.box) - energy_star
            
            
        return self
    
    def reversecarrier_time_evolve(self, l, verbose = True):
        self.carrier = [1]*l # declare carrier
        for i in range(len(self.box)-1,-1,-1):#len(self.box)-1 to 0
            self.carrier.sort()
            if (self.box[i] > self.carrier[0]):
                p = len(self.carrier) - 1
                while self.carrier[p] >= self.box[i]:
                    p -= 1
                #print(p,self.carrier[p],self.box[i])
                #print("car" + str(self.carrier))
                temp = self.box[i]
                self.box[i] = self.carrier[p]
                self.carrier[p] = temp
                
            else:
                temp = self.box[i]
                self.box[i] = self.carrier[l-1]
                self.carrier[l-1] = temp
                
            if verbose == True:
                    print("-" * 50)
                    print("carrier position:" + str(i+1))
                    print("box:" + str(self.box))
                    print("carrier:" + str(self.carrier))
        print("-" * 50)
            
        return self

### define Young tableau class

In [3]:
yt = [[1,1,2,3,4],[2,2,3,5],[4,4]]

In [4]:
pd.DataFrame(yt)

   0  1    2    3    4
0  1  1  2.0  3.0  4.0
1  2  2  3.0  5.0  NaN
2  4  4  NaN  NaN  NaN

In [94]:
temp = pd.DataFrame(yt)

In [101]:
temp[2].dropna()

0    2.0
1    3.0
Name: 2, dtype: float64

In [83]:
temp2 = list(temp[0])
temp2.append(5)

In [210]:
class YoungTableau():
    def __init__(self):
        self.table = []
    

    def row_insertion(self, r, verbose = False):
        if len(self.table) == 0: 
            self.table = [[r]]
        else:
            for i in range(len(self.table)):
                if verbose == True:
                    print("r={}".format(r))
                if self.table[i][-1] <= r:# end
                    self.table[i].append(r)
                    if verbose == True:
                        self.show()
                    break
                else: #continue
                    p = 0
                    for p in range(len(self.table[i])):
                        if (self.table[i][p] - r) > 0:
                            temp = r
                            r = self.table[i][p]
                            self.table[i][p] = temp
                            break
                            
                if (i+1) == len(self.table):                    
                    self.table.append([r])
                if verbose == True:                    
                    self.show()
                    print("-"*30)
        return self
                    
    def list_convertion(self):
        temp = pd.DataFrame(self.table)
        new_list = []
        for i in range(temp.shape[1]):
            new_list.append(list(temp[i].dropna()))
        self.table = new_list
        return self
        
    
    def column_insertion(self,r, verbose = False):
        if len(self.table) == 0:
            self.table = [[r]]
        else:
            self.table = self.list_convertion().table
            for i in range(len(self.table)):
                if verbose == True:
                    print("r={}".format(r))            
                if self.table[i][-1] < r:
                    self.table[i].append(r)
                    if verbose == True:
                        self.list_convertion().show()
                        self.list_convertion()
                    break
                else: #continue
                    p = 0
                    for p in range(len(self.table[i])):
                        if (self.table[i][p] - r) >= 0:
                            temp = r
                            r = self.table[i][p]
                            self.table[i][p] = temp                            
                            break
                
                if (i+1) == len(self.table):
                    self.table.append([r])
                if verbose == True:
                    self.list_convertion().show()
                    self.list_convertion()
                    print("-"*30)
        self.table = self.list_convertion().table
        return self
    
    def p_symbol(self, w, verbose = False):
        w = str(w)
        for char in w[::-1]:
            self.row_insertion(int(char))
            if verbose == True:             
                self.show()
                print("-"*30)
        return self                    
                
    def show(self,astype = float):
        print(pd.DataFrame(self.table).astype(astype))

In [167]:
yt

In [168]:
yt = YoungTableau()

In [169]:
yt.show()

Empty DataFrame
Columns: []
Index: []

In [170]:
yt.p_symbol(213432)

In [171]:
yt.show()

     0    1    2
0  1.0  2.0  3.0
1  2.0  3.0  NaN
2  4.0  NaN  NaN

In [172]:
yt.row_insertion(4)

In [173]:
yt.list_convertion()

In [174]:
yt.show()

     0    1    2
0  1.0  2.0  4.0
1  2.0  3.0  NaN
2  3.0  NaN  NaN
3  4.0  NaN  NaN

In [175]:
yt.column_insertion(4)

## Ex0: Time evolution infinity

In [176]:
x = Bbs(np.array([3,2,2,1,1,1,2,2,1,2]))
print("t=" + str(0) + ":" + str(x.box))
for i in range(1,5):
    x.time_evolve_inf()
    print("-" * 50)
    print("t=" + str(i) + ":" + str(x.box))

t=0:[3 2 2 1 1 1 2 2 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=1:[1 1 1 3 2 2 1 1 2 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=2:[1 1 1 1 1 1 3 2 1 2 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=3:[1 1 1 1 1 1 1 1 3 1 2 2 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=4:[1 1 1 1 1 1 1 1 1 3 1 1 2 2 1 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## Ex1: Time evolution

In [177]:
x = Bbs(np.array([2,3,5,1,2,4,4,4,3]))

print("t=" + str(0) + ":" + str(x.box))
for i in range(1,5):
    x.time_evolve(l = 2,verbose = False)
    print("t=" + str(i) + ":" + str(x.box))

t=0:[2 3 5 1 2 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=1:[1 2 3 5 1 2 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=2:[1 1 2 3 5 1 2 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=3:[1 1 1 2 3 5 1 2 1 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=4:[1 1 1 1 2 3 5 1 2 1 1 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## Ex2:Reverse Carrier Time evolution

In [178]:
# carrierを逆に走らせてみる
for i in range(1,5):
    x.reversecarrier_time_evolve(l = 10,verbose = False)
    print("t=" + str(i+4) + ":" + str(x.box))

--------------------------------------------------
t=5:[1 2 3 5 1 1 1 2 1 1 4 4 4 1 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=6:[5 1 1 1 1 2 4 1 4 4 1 1 1 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=7:[1 1 2 4 4 1 1 4 1 1 1 1 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=8:[4 4 1 1 1 1 4 1 1 1 1 1 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

## Ex2 Energy Measurement

In [179]:
x = Bbs(np.array([2,3,5,1,2,4,4,4,3]),ml=100)
print(str(x.box))

for i in range(1,7):
    x = Bbs(np.array([2,3,5,1,2,4,4,4,3]))
    x.time_evolve(l = i,verbose = False, calc_energy = True)
    print("E_" + str(i) + " = " + str(x.energy))

[2 3 5 1 2 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
E_1 = 5
--------------------------------------------------
E_2 = 6
--------------------------------------------------
E_3 = 7
--------------------------------------------------
E_4 = 8
--------------------------------------------------
E_5 = 8
--------------------------------------------------
E_6 = 8

In [180]:
x = Bbs(np.array([2,3,5,1,2,4,4,4,3]),ml=100)
print("t=" + str(0) + ":" + str(x.box))
for i in range(4):
    x.time_evolve(l = 6, verbose = False)
    print("t=" + str(i+1) + ":" + str(x.box))
    
X = x

for i in range(1,7):
    x = X
    x.time_evolve(l = i,verbose = False, calc_energy = True)
    print("E_" + str(i) + " = " + str(x.energy))

t=0:[2 3 5 1 2 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=1:[1 2 3 5 1 2 1 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=2:[1 1 2 3 5 1 2 1 1 1 1 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=3:[1 1 1 2 3 5 1 2 1 1 1 1 1 1 1 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
t=4:[1 1 1 1 2 3 5 1 2 1 1 1 1 1 1 1 1 1 1 1 1 4 4 4 3 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
--------------------------------------------------
E_1 = 5
--------------------------------------------------
E_2 = 6
--------------------------------------------------
E_3 = 7
--------------------------------------------------
E_4 = 8
--------------------------------------------------
E_5 = 8
--------------------------------------------------
E_6 = 8

### Ex3. row insertion and column insertion

In [181]:
#### rowinsertion
w = "4313265"
yt_r = YoungTableau()
for r in w[::-1]:
    yt_r.row_insertion(int(r))
    yt_r.show()
    print("-"*30)

     0
0  5.0
------------------------------
     0    1
0  5.0  6.0
------------------------------
     0    1
0  2.0  6.0
1  5.0  NaN
------------------------------
     0    1
0  2.0  3.0
1  5.0  6.0
------------------------------
     0    1
0  1.0  3.0
1  2.0  6.0
2  5.0  NaN
------------------------------
     0    1    2
0  1.0  3.0  3.0
1  2.0  6.0  NaN
2  5.0  NaN  NaN
------------------------------
     0    1    2    3
0  1.0  3.0  3.0  4.0
1  2.0  6.0  NaN  NaN
2  5.0  NaN  NaN  NaN
------------------------------

In [182]:
#### column insertion
w = "4313265"
yt_r = YoungTableau()
for r in w:
    yt_r.column_insertion(int(r))
    yt_r.show()
    print("-"*30)

     0
0  4.0
------------------------------
     0    1
0  3.0  4.0
------------------------------
     0    1    2
0  1.0  3.0  4.0
------------------------------
     0    1    2
0  1.0  3.0  4.0
1  3.0  NaN  NaN
------------------------------
     0    1    2    3
0  1.0  3.0  3.0  4.0
1  2.0  NaN  NaN  NaN
------------------------------
     0    1    2    3
0  1.0  3.0  3.0  4.0
1  2.0  NaN  NaN  NaN
2  6.0  NaN  NaN  NaN
------------------------------
     0    1    2    3
0  1.0  3.0  3.0  4.0
1  2.0  6.0  NaN  NaN
2  5.0  NaN  NaN  NaN
------------------------------

### Ex4. r>(T<s) = (r>T)<s

In [213]:
T = YoungTableau()
w = "431323128746376365"
T.p_symbol(w)
T.show()

T.row_insertion(4, verbose=True)
print("="*50)
T.column_insertion(4, verbose=True)

     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  6.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
r=4
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  6.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
==================================================
r=4
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  6.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=4
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=6.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=6.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=6.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  6.0  8.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=7.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  6.0  7.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=8.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN

In [214]:
T = YoungTableau()
w = "431323128746376365"
T.p_symbol(w)
T.show()


T.column_insertion(4, verbose=True)
print("="*50)
T.row_insertion(4, verbose=True)

     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  6.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
r=4
     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  6.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
------------------------------
r=4
     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
------------------------------
r=6.0
     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
------------------------------
r=6.0
     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
------------------------------
r=6.0
     0    1    2    3    4    5
0  1.0  1.0  3.0  3.0  3.0  4.0
1  2.0  2.0  6.0  6.0  6.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN
------------------------------
r=7.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  8.0
1  2.0  2.0  6.0  6.0  6.0  7.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
==================================================
r=4
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  6.0  7.0  NaN
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN
------------------------------
r=8.0
     0    1    2    3    4    5    6
0  1.0  1.0  3.0  3.0  3.0  4.0  4.0
1  2.0  2.0  6.0  6.0  6.0  7.0  8.0
2  3.0  3.0  NaN  NaN  NaN  NaN  NaN
3  4.0  4.0  NaN  NaN  NaN  NaN  NaN
4  5.0  NaN  NaN  NaN  NaN  NaN  NaN
5  7.0  NaN  NaN  NaN  NaN  NaN  NaN